body {
  margin: 0;
}

section {
  font-family: "Roboto", sans-serif;
  line-height: 2;
  max-width: 700px;
  margin: 0 auto;
  padding: 32px;
}

footer {
  background: #001219;
  font-family: "Roboto", sans-serif;
  color: #f1faee;
  padding: 32px;
  border-radius: 32px 32px 0 0;
}

footer .footer-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 32px;
}

footer .footer-container .footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .logo {
  font-size: 36px;
  font-weight: 800;
}

footer .footer-container a {
  color: #f1faee;
  text-decoration: none;
}

footer .footer-container a:hover {
  text-decoration: underline;
}

footer .footer-container ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
  margin-bottom: 24px;
}

footer .footer-container ul li {
  margin: 10px 0;
}

footer .footer-container h3.quick-links-h3::before {
  content: url("images/quick-links-icon.png");
}

footer .footer-container h3.services-h3::before {
  content: url("images/services-icon.png");
}

footer .footer-container h3.categories-h3::before {
  content: url("images/categories-icon.png");
}

footer .footer-container h3.contact-h3::before {
  content: url("images/contact-icon.png");
}

footer .footer-container h3 {
  position: relative;
}

footer .footer-container h3::before {
  position: absolute;
  transform: translate(-24px, -5px);
}

footer .footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

footer .footer-bottom .copyright {
  color: #e63946;
  font-size: 20px;
  font-weight: 800;
}

footer .social a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

footer .social a {
  margin: 0 16px;
  display: inline-block;
  transition: all 500ms;
}

@media (max-width: 850px) {
  footer .footer-container .footer-top {
    grid-template-columns: 1fr 1fr;
  }

  footer .social img {
    height: 30px;
  }
}

@media (max-width: 600px) {
  footer .footer-container .footer-top {
    grid-template-columns: 1fr;
    text-align: center;
  }

  footer .footer-bottom .copyright {
    font-size: 16px;
  }
}
